<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3" />
    <!-- Prism theme (https://prismjs.com/): -->
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3/prism" />

    <title>Spire</title>
  </head>
  <body>
    <header class="navbar">Spire</header>

    <div class="container">Welcome to Spire!</div>
  </body>
</html>
