<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3" />
    <!-- Prism theme (https://prismjs.com/): -->
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3/prism" />

    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>

    <title>Spire</title>
  </head>
  <body>
    <header class="navbar">Spire</header>

    <div class="container">
      <form
        hx-post="/entries"
        hx-target="#entries"
        hx-swap="afterbegin"
        hx-on::after-request="this.reset()"
        class="flow-gap"
      >
        <textarea name="entry" class="width:100%"></textarea>
        <button type="submit">Submit</button>
      </form>

      <div id="entries" class="flow-gap">
        {{range .}}
        <div class="box">
          <!-- wtf is this actually the way format a date in a go template -->
          <time>{{.Time.Format "2006-01-02 15:04"}}</time>
          <p>{{.Content}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
