<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3" />
    <!-- Prism theme (https://prismjs.com/): -->
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3/prism" />

    <title>Spire</title>
  </head>
  <body>
    <header class="navbar">Spire</header>

    <div class="container">
      <form>
        <textarea class="width:100%"></textarea>
      </form>

      <div class="flow-gap">
        {{range .}}
        <div class="box">
          <!-- wtf is this actually the way format a date in a go template -->
          <time>{{.Time.Format "2006-01-02 15:04"}}</time>
          <p>{{.Content}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
